<h5 class="data-source body-pos-waiting-1 primary-text" data-name="{{displayName}}" data-id="{{userId}}">hey, {{displayName}}! when all your participants are here, click <span class="title-text coral-text">brack[<span class="primary-text blue-text">it</span>]</span> to get started.</h5>

<button class="btn-pos-waiting-1 brackit-coral primary-text" id="start">brack[it]!</button>
