

<p 
class="data-source primary-text body-pos-waiting-1" 
data-name="{{displayName}}" 
data-id="{{userId}}"> 
  hi, {{displayName}}! your leader will get this thing started once everyone is here!
</p>