/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {

  /* Box-model */
  padding: 0;

  /* Positioning */
  margin: 0;
  font: inherit;

  /* Typography */
  font-size: 100%;
  vertical-align: baseline;

  /* Visual */
  border: 0;

}

button:active{
  outline: none;
}

input:focus{
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {

  /* Misc */
  content: "";
  content: none;
}

table {
  border-spacing: 0;

  /* Visual */
  border-collapse: collapse;
}