/* ========= importing fonts from assets file and formatting for browser ========= */
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
	src: url('../fonts/MontserratAlternates-Medium.otf') format('opentype');
	font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
	src: url('../fonts/MontserratAlternates-SemiBold.otf') format('opentype');
	font-weight: 800;
  font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-ExtraBold.ttf') format('truetype');
	src: url('../fonts/MontserratAlternates-ExtraBold.otf') format('opentype');
	font-weight: 200;
  font-style: normal;
}

/* ========== =sets up backup fonts if montserrat fails ============*/

body {
  font-family: 'Montserrat Alternates', 'Roboto', sans-serif;
  width: 100vw;
  
}



/* =================================================================*/
/* =========================== FONTS ===============================*/
/* =================================================================*/

.title-text {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: normal;
  color: #00A2D3;
}

.primary-text {
  font-family: 'Montserrat Alternates';
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: #483C93;

}

.coral-text {
  color: #FF7062;
  font-weight: 400;
}

.blue-text {
  color: #00A2D3;
  font-weight: 400;
}


.user-input {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  color: #483C93;
}

.user-input::placeholder {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: normal;

  text-align: center;
  color: rgba(72, 60, 147, 0.5);
}

/* =================================================================*/
/* =========================== COLORS ==============================*/
/* =================================================================*/


.brackit-coral {
  background: #FF7062;
}

.brackit-blue {
  background: #00A2D3;
}

.candidate-1 {
  background: #FA4DA7;
}

.candidate-2 {
  background: #97F849;
}

.candidate-3 {
  background: #FD7960;
}

.candidate-4 {
  background: #009F79;
}

.candidate-5 {
  background: #2E3482;
}

.candidate-6 {
  background: #FFDB00;
}

.candidate-7 {
  background: #00CFD5;
}

.candidate-8 {
  background: #FEFF01;
}

.candidate-9 {
  background: #006490;
}

.candidate-10 {
  background: #e20042;
}

.candidate-11 {
  background: #6dcff6;
}

.candidate-12 {
  background: #f495bd;
}
.candidate-13 {
  background: #ff6600;
}

.candidate-14 {
  background: #0db1b3;
}

.candidate-15 {
  background: #fcd425;
}

.candidate-16 {
  background: #fe5552;
}

/* =================================================================*/
/* ===================== POSITIONING & SHAPES ======================*/
/* =================================================================*/

.logo-pos {
  position: absolute;
  height: 6vh;
  left: 50%;
  transform: translateX(-50%);
  top: 22vh;
}

.brackit-question {
  position: absolute;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  color: #00A2D3;
 }

.top-colors{
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom-colors{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .bars-layer-1-top {
  position: absolute;
  left: -138px;
  top: -32px;
  z-index: -3;
}

.bars-layer-2-top {
  position: absolute;
  left: 16px;
  top: -143px;
  z-index: -2;
}

.bars-layer-1-btm {
  position: absolute;
  left: -80px;
  top: 597px;
  z-index: -2;
} */

/* ======this extends color pattern on bottom of screen for larger phones */
/* .bars-layer-1-btm-lg {
  position: absolute;
  left: 507.78px;
  top: 831.19px;
  
  transform: rotate(-174.45deg);
} */

/* ================ screen 1 positioning & shapes ================ */


/* ================ screen 2 positioning & shapes ================ */

/* .container-2 {
  margin:165px 45px 0 45px;
  width: 285px;
  align-content: center;
} */

.container{
  width: 100vw;


}

.logo-pos-2{
  position: absolute;
  height: 6vh;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
}

.title-pos-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 24vh;
  width: 122px;
  height: 23px;
  text-align: center;

}

.body-pos-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 241px;
  height: 45px;
  top: 42vh;
  text-align: center;
}

.join-btn {
  text-align: center;
  position: relative;
  width: 261px;
  line-height: 24px;
  margin: 0 auto;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(1.9deg);
}

.join-btn-pos{
  position: absolute;
  top: 59vh;
  left: 50%;
  transform: translateX(-50%);
}

.create-btn {
  text-align: center;
  position: relative;
  width: 263px;
  line-height: 24px;
  margin: 0 auto;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.1deg);
}

.create-btn-pos{
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
}

/* ================ screen 3 positioning & shapes ================ */

.body-pos-3-a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 34vh;
}

.form-input {
  line-height: 2;
  border-bottom: 1px solid rgba(72, 60, 147, 0.5);
  padding: 0 10vw;
}

.form-input:focus {
  border-bottom: 2px solid #483C93;
}

.form-input-3-a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39vh;
}

.body-pos-3-b {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50vh;
}

.form-input-3-b {  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55vh;
}

.body-pos-3-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 66vh;
}

.radio-btn-3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 72vh;
}

.radio {
  margin-right: 10vw;
}

.submit-btn-3 {
  position: absolute;
  width: 115px;
  height: 24px;
  left: 50%;
  transform: translateX(-50%);
  top: 83vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.1deg);
}

/* ================ screen 4 positioning ================ */

.body-pos-4-a {
  position: absolute;
  left: 50%;
  top: 36vh;
  text-align: center;
  transform: translateX(-50%);
}

.add-btn-4 {
  position: absolute;
  left: 64%;
  /* transform: translateX(-50%); */
  width: 51px;
  height: 24px;
  top:40vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.1deg);
}

.form-input-4a {  
  position: absolute;
  width: 198px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 45vh;
  text-align: center;
  transform: translateX(-50%);
}

.submit-btn-4 {
  position: absolute;
  width: 96px;
  height: 24px;
  left: 66%;
  top: 42vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.1deg);
}

.cand-1 {
  text-align: center;
  line-height: 24px;
  position: absolute;
  width: 200px;
  left: -31px;
  top: 62vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(4.28deg);

  background: #FA4DA7;
  color: #483C93;
}

.cand-2 {
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 200px;
  left: -24px;
  top: 74vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-3.4deg);

  background-color: #97F849;
  color: #483C93
}

.cand-3 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: 201px;
  top: 59vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.72);

  background: #FD7960;
  color: #483C93
}

.cand-4 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: 208px;
  top: 69vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(2.75deg);

  background: #009F79;
  color: #FF7062
}

.cand-5 {
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 200px;
  left: -13px;
  top: 53vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1.5deg);

  background: #2E3482;
  color: #FF7062;
}

.cand-6 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: -19px;
  top: 83vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(4.28deg);

  background: #FFDB00;
  color: #483C93
}

.cand-7 {
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 240px;
  left: 201px;
  top: 79vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.72deg);

  background: #00CFD5;
  color: #483C93
}

.cand-8 {
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 200px;
  left: 202px;
  top: 88vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.84deg);

  background: #FEFF01;
  color: #483C93
}

.cand-9 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: -20px;
  top: 58vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.1deg);

  background: #006490;
  color: #FF7062;
}

.cand-10 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: -11px;
  top: 68vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.2deg);

  background: #e20042;
  color: #483C93
}

.cand-11 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: -23px;
  top: 79vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1.32deg);

  background: #6dcff6;
  color: #483C93
}

.cand-12 {
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 200px;
  left: -11px;
  top: 90vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.79deg);

  background: #f495bd;
  color: #483C93
}

.cand-13 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: 204px;
  top: 54vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-3.09deg);

  background: #ff6600;
  color: #483C93
}

.cand-14 {
  position: absolute;
  width: 200px;
  text-align: center;
  line-height: 24px;
  left: 190px;
  top: 64vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(3.73deg);

  background: #0db1b3;
  color: #483C93
}

.cand-15 {
  position: absolute;
  width: 200px;  
  text-align: center;
  line-height: 24px;
  left: 220px;
  top: 74vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1.55deg);

  background: #fcd425;
  color: #483C93
}

.cand-16 {
  position: absolute;
  width: 200px;  
  text-align: center;
  line-height: 24px;
  left: 217px;
  top: 83vh;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1.44deg);

  background: #fe5552;
  color: #483C93
}

/*============================codes screen (5)===============================================*/
.body-pos-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  top: 38vh;
  text-align: center;
}

.admin-pos-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  top: 56vh;
  text-align: center;
}

.participant-pos-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  top: 62vh;
  text-align: center;
}

.directions-pos-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  top: 72vh;
  text-align: center;
}

.link-pos-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  top: 76vh;

/* ================ screen WAITING ROOM positioning & shapes ================ */

.body-pos-waiting-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 287px;
  height: 37px;
  top: 37vh;
  text-align: center;
}

/* =================================================================*/
/* ============================= OTHER =============================*/
/* =================================================================*/

.visible {
  display: block;
}

.invisible {
    display: none;
}

.active {
    color: red;
}

.inactive {
    color: blue;
}