{{>header}}

<section>
    <div class="instructions">
        <h5>to get your brack[it] started, copy your ID and the participant ID below to share with your friends.</h5>
    </div>
    <div class="codes">
        <h5>admin: <span id="admin-code">{{adminCode}}</span></h5>
        <h5>participants: <span id="particip-code">{{brackitID}}</span></h5>
    </div>
    <div class="next-step">
        <h5>
            then, head over to:
            <span id="join-url">brackit.com/join</span>
        </h5>
    </div>
</section>