{{>header}}

<section>
    <form>
        <input type="text" name="admin-name" id="admin-name" required><br>
        <label for="admin-name">administrator name</label><br>
        <input type="text" name="brack-name" id="brack-name" required><br>
        <label for="brack-name">brackit name</label><br>
        <h5>how many options</h5>
        <input type="radio" id="four-cand" name="num-of-cand" value="4">
        <label for="four-cand">4</label>
        <input type="radio" id="eight-cand" name="num-of-cand" value="8">
        <label for="eight-cand">8</label>
        <input type="radio" id="sixteen-cand" name="num-of-cand" value="16">
        <label for="sixteen-cand">16</label>
        <input type="submit" id="submit" value="submit">

    </form>
</section>