{{>header}}

<section>
    <p>{{question}}</p>
    {{!-- drop candidates into here when added --}}

    <input type="text" class="visible" name="new-cand" id="new-cand" placeholder="add an option" required>
    {{!-- this add button would become hidden and be replaced with submit button when correct number of candidates has been added --}}
    <button class="visible" data-cand-num="{{numberCandidates}}" id="add-cand">add option</button>
    {{!-- this submit button would be hidden until the correct number of candidates has been added --}}
    <button data-brack-num={{BrackitId}} class="invisible" id="submit">submit all</button>

    <div class="candidates">

    </div>
</section>

<script src="/js/admin-candidate-setup.js" type="text/javascript"></script>
