<section class="container">
{{>color-background}}
{{>header}}

    <form> 
        <label class="body-pos-3-a primary-text" for="admin-name">administrator name</label>
        <input class="form-input-3-a" type="text" name="admin-name" id="admin-name" placeholder="type here" required>
        <label class="body-pos-3-b primary-text"for="brack-name">brackit question</label>
        <input class="form-input-3-b" type="text" placeholder="what do you want to know?" name="brack-name" id="brack-name" required>
        <h5>how many options</h5>
        <input type="radio" id="four-cand" name="num-of-cand" value="4">
        <label for="four-cand">4</label>
        <input type="radio" id="eight-cand" name="num-of-cand" value="8">
        <label for="eight-cand">8</label>
        <input type="radio" id="sixteen-cand" name="num-of-cand" value="16">
        <label for="sixteen-cand">16</label>
        <input class="submit-btn-3 brackit-coral" type="submit" id="submit" value="submit">

    </form>

</section>
<script src="/js/admin-brackit-setup.js" type="text/javascript"></script>
