{{>color-background}}
{{>question-header}}
{{>header}}


    <h5 class="primary-text body-pos-5">to get your <span class="title-text coral-text">brack[<span class="primary-text blue-text">it</span>]</span> started, copy your i.d. and the participant i.d. below to share with your friends.</h5>


    <h5 class="title-text admin-pos-5">admin: <span class="coral-text" id="admin-code">{{adminCode}}</span></h5>
    <h5 class="title-text participant-pos-5">participants: <span class="coral-text" id="particip-code">{{BrackitId}}</span></h5>


    <h5 class="primary-text directions-pos-5">then, head over to:</h5>
    <a class="title-text coral-text link-pos-5" href="/join"><span id="join-url">brackit.com/join</span></a>

