<div id="grab">
    {{>header}}
    {{>color-background}}
    {{>question-header}}
      <p class="timer round-pos timer-pos brackit-coral primary-text">5</p>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>    
    <br>
    <section>
        <h6>{{question}}</h6>
        <div id="spinning-bracket"></div>
        <div>
            <h5>waiting for those other slowpokes to finish brackin’</h5>
 
        </div>
    </section>
</div>