{{>header}}

<section>
    <h6>{{question}}</h6>
    <div id="spinning-bracket"></div>
    <div>
        <h5>waiting for those other slowpokes to finish brackin’</h5>
    <p class="timer"></p>
    </div>
</section>


