
<section id="play">

<header>brack[{{roundNum}}]</header>

<div>
    <h5 class="question">{{question}}</h5>
    <h6 class="cand1">{{candidateOne}}</h6>
    <h6 class="cand2">{{candidateTwo}}</h6>
    <button class="pick-cand">brack[it]!</button>
    <p class="timer"></p>
</div>

</section>