<div id="grab">

    {{>header}}
    {{>color-background}}
    {{>question-header}}
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
<h1 class="cand-{{color}} winner">---{{name}} wins!</h1>

</div>
