{{>header}}

<section>
    {{!-- drop participants into here as they join --}}
    <div class="participants">

    </div>
    {{!-- this waiting message is only visible to participants --}}
    <h5>waiting for admin to start the vote!</h5>
    {{!-- start button and label are only visible to admin --}}
    <button id="start">brack[it]!</button>
    <label for="start">press to get started</label>
</section>