<div id="grab">
    {{>header}}
    {{>color-background}}
    {{>question-header}}
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>

{{#each winners}}
<h2 class="cand-{{this.color}}">{{this.candidateName}}</h2>
{{/each}}
<p class="timer">5</p>
</div>