<div id="grab">
    {{>header}}
    {{>color-background}}
    {{>question-header}}
      <p class="timer round-pos timer-pos brackit-coral primary-text">5</p>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <h2>winners moving on to the next round!</h2>

{{#each winners}}
<h2 class="cand-{{this.color}}">{{this.candidateName}}</h2>
{{/each}}

</div>