{{>color-background}}

{{>header}}

<section class="container-2">
    <p class="primary-text title-pos-2">Do you want to:</p>
    <a href="/join"><button>join a brackit</button></a>
    <a href="/create/new-brackit"><button>create a brackit</button></a>
</section>
