{{>color-background}}

<section class="container">
    <p class="title-text title-pos-2">welcome to</p>
    <img class="logo-pos-2" src="/svg-files/logo-lockup.svg" alt="brackit logo">
    <p class="primary-text body-pos-2">pick one of the choices below 
    to get started!</p>
    <a href="/join"><button class="join-btn brackit-coral primary-text">join a brackit</button></a>
    <a href="/create/new-brackit"><button class="create-btn brackit-blue primary-text">create a brackit</button></a>
    
</section>
