{{>header}}
<section>
    <div class="instructions">
        <h5>enter your brack[it] ID below get started!</h5>
    </div>
    <input type="text" name="join-code" id="join-code" placeholder="1234" required>
    <label for="join-code">brackit ID</label>
    <button id="submit">submit</button>
</section>

<script src="/js/join-brackit-portal.js" type="text/javascript"></script>
