{{>header}}
<section>
    <div class="instructions">
        <h5>enter your brack[it] ID below get started!</h5>
    </div>
    <input type="text" name="brackit-id" id="brackit-id" placeholder="1234" required>
    <label for="brackit-id">brackit ID</label>
    <button id="submit">submit</button>
</section>