{{>header}}
<section>
    <div class="instructions">
        <h5>what do you want your name to be?</h5>
    </div>
    <input type="text" name="username" id="username" placeholder="johnny apple s33d" required>
    <label for="username">username</label>
    <button id="submit">submit</button>
</section>