
{{>color-background}}
{{>header}}

    <h5 class="primary-text body-pos-6">enter your  <span class="title-text coral-text">brack[<span class="primary-text blue-text">it</span>]</span>  i.d. to get started!</h5>
    <input class="form-input user-input input-pos-6" type="text" name="join-code" id="join-code" placeholder="1234" required>
    <label class="user-input" for="join-code">brackit ID</label>
    <button class="brackit-coral primary-text submit-btn-6" id="submit">join</button>
    <p class="primary-text help-pos-6">check with your admin
    if you don’t have an i.d. or don’t know what it is</p>


<script src="/js/join-brackit-portal.js" type="text/javascript"></script>
