<div id="insert">

<section>
  {{>color-background}}
  {{>question-header}}
  {{>header}}
    {{#if isAdmin}}{{>admin-waiting-room}}{{else}}{{>participant-waiting-room}}{{/if}}

    {{!-- drop participants into here as they join --}}
    <div class="participants">

    </div>

</section>
</div>
<script src="/js/socket.js"></script>

